.navbar {
  background-color: #1c77c3;
  width: 100vw;
  position: relative;
  z-index: 10;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    width: max-content;
    padding-left: 2rem;
    &:hover {
      h1 {
        color: #ced4da;
      }
    }
    h1 {
      font-size: 19px;
      margin-left: -10px;
      transition: all 0.3s;
    }
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    width: 100vw;
    a {
      margin-left: -20px;
      h1 {
        font-size: 16px;
      }
    }
  }
}
